.centerContainer {
  display: flex;
  justify-content: center;
  padding-top: 40px;

  .container {
    display: flex;
    max-width: 1300px;

    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}
